.home-container {
  min-height: 100vh; /* Ensure it fills the entire viewport height */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
  padding: 20px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  overflow: hidden; /* Prevent overflow causing scroll */
}
