nav {
    background: none !important; 
    background-color: transparent !important; 
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    font-family: 'Press Start 2P', cursive;  
    font-size: 16px;
    color: white;
  }
  

  nav ul {
    display: flex;
    justify-content: space-between;
    width: 100%;  
    padding: 0;
    margin: 0;
    list-style: none;  
  }
  

  nav ul li {
    flex-grow: 1;
    text-align: center;  
  }
  

  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px;
    transition: color 0.3s ease;
    display: block;
  }
  

  nav ul li a:hover {
    color: #3700ff;  
    text-decoration: underline;
  }
  

  body {
    padding-top: 60px;
  }
  
