/* src/App.css */

/* General Layout */
body {
  background-color: #000;
  color: white;
  font-family: 'Press Start 2P', cursive;
  margin: 0;
  min-height: 100vh;  /* Ensure body takes the full viewport height */
  display: block;
  overflow-x: hidden;  /* Prevent horizontal scrollbars */
}

html, body {
  height: 100%;  /* Full height for body and html */
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  width: 100%;  /* Set the width to 100% to avoid restriction */
  max-width: 100%;  /* Remove max-width limitation */
  margin: 0 auto;
  padding-top: 20px;
  min-height: 100vh;
}

/* Page transitions */
.page {
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
}

.page-enter {
  opacity: 1;
}

/* Welcome Text Styles */
h1 {
  font-size: 36px;
  margin-top: 0;
}

